        <footer>
            <figure class="infinite-logo-container">
                <div class="infinite-logo-bar">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                    <img src="/img/amac.png" alt="">
                    <img src="/img/rootnet.png" alt="">
                    <img src="/img/ictrecht.png" alt="">
                </div>
            </figure>

            <section class="footer-logo-section">
                <img src="/img/logo-mobile.svg" alt="logo">
                <a href="">INLOGGEN
                    <img src="/img/arrow.svg" alt="">
                </a>
            </section>

            <section>
                <ul class="footer-navigation-list-section">
                    <li><p>Over ons</p></li>
                    <li><p>Events</p></li>
                    <li><p>Publicaties</p></li>
                    <li><p>Leden</p></li>
                    <li><p>Vacatures</p></li>
                    <li><p>Algemene voorwaarden</p></li>
                    <li><p>Privacy beleid</p></li>
                </ul>
            </section>

            <section class="footer-info-section">
                    <ul>
                        <li><p>Dutch Digital Agencies</p></li>
                        <li><p>Overhoeksplein 1</p></li>
                        <li><p>1031 KS Amsterdam</p></li>
                        <br>
                        <li><p>(0)85 4010391</p></li>
                        <li><p>info@dutchdigitalagencies.com</p></li>
                    </ul>
            </section>

            <section class="footer-socialmedia-section">
                <ul>
                    <li><p>Instagram</p></li>
                    <li><p>Facebook</p></li>
                    <li><p>LinkedIn</p></li>
                </ul>
                <p>Copyright &copy; 2025 Dutch Digital Agencies</p>
            </section>

        </footer>
    </body>
</html> 