{% render 'partials/head.liquid' %}

<main>
    <section class="page-title-container">
        <section class="page-title">
            <a class="subtext" href="/leden">
                <img src="/img/arrow-left.svg" alt="">TERUG NAAR LEDEN
            </a>
            <h1>LID TOEVOEGEN</h1>
        </section>
        
        <section class="page-title-content">
            <h6>De {{ leden | size }} beste digitale bureaus van Nederland zijn verenigd in Dutch Digital Agencies. Zet de juiste filters aan en zoek contact met het bureau dat het beste bij past bij jouw vraagstuk en uitdaging. Ook DDA lid worden? Ga dan naar deze pagina voor meer informatie.</h6>
        </section>
    </section>


    <form class="lid-toevoegen-form" action="/leden/nieuw/toevoegen" method="POST">
        <label for="title">Agency Name</label>
        <input placeholder="Funda" name="title" type="text">

        <label for="address">Agency Location</label>
        <input placeholder="Amsterdam"  name="address" type="text">

        <label for="colleagues">Agency Employees</label> 
        <input placeholder="80" name="colleagues" type="text">

        <button type="submit">SUBMIT</button>
    </form>
</main>

{% render 'partials/foot.liquid' %}